
@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5">User Dashboard</h1>
<p>Lorem ipsum odor amet, consectetuer adipiscing elit. Taciti blandit ut suspendisse nunc orci. Curabitur tortor arcu blandit facilisis facilisi donec diam. Facilisi habitasse hac etiam lectus montes. Conubia facilisi est suspendisse eros varius urna quam proin. Donec class bibendum magna ornare ex. Parturient tempus dapibus molestie laoreet neque integer non.</p>
<hr />

