@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center " style="margin-top: 25vh">
    <h1 class="display-4">Leave Management System</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Id mauris volutpat cursus nisl phasellus cursus. Inceptos condimentum orci amet consectetur aenean pulvinar sodales. Etiam facilisis nam nunc sociosqu blandit. Eros augue ullamcorper sed vestibulum torquent mi nullam penatibus. Fusce nisl ligula nunc dignissim fringilla ligula orci. Pretium lacus adipiscing sagittis nisl bibendum.</p>

</div>
