@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Felis senectus habitasse odio vitae sollicitudin scelerisque. Taciti dignissim congue parturient finibus commodo nunc mus pretium. Vivamus feugiat lorem montes maximus platea nulla senectus. Habitant cubilia natoque sociosqu augue fringilla. Sit euismod vehicula vestibulum, potenti torquent in. Purus volutpat ac lacinia metus donec, condimentum bibendum.
</p>
<p>
    Eget per congue, amet molestie porta adipiscing. Ipsum mattis hac dapibus habitant ac aliquam? Et aliquam molestie sagittis diam cras. Lobortis torquent pulvinar neque vivamus, torquent feugiat fusce ante. Rhoncus neque dictum tristique malesuada; malesuada scelerisque sit! Mi mi placerat fusce, fusce elementum aenean dapibus. Est id class hendrerit leo nisl massa amet euismod. Commodo ridiculus volutpat fermentum eros integer rutrum vehicula dignissim.
</p>
