
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Dashborad</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus neque, ultrices id diam in, lobortis vehicula ipsum. Pellentesque a diam tempor purus lacinia cursus sed non mi. Vivamus fringilla velit leo, et ornare diam dictum eu. Praesent quam purus, facilisis eget lacus nec, laoreet condimentum tellus. Nam rutrum faucibus cursus. Nam auctor lobortis scelerisque. Nullam lobortis sollicitudin rhoncus. Morbi at odio convallis, tristique tellus tempor, mattis nisl. Sed eget neque lacus. Nunc pharetra purus a gravida sollicitudin. Curabitur quis libero finibus, mollis augue non, porttitor lectus. Mauris id diam a quam aliquet faucibus. Donec blandit vel orci sed suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>

<br />
<hr />
<br />


